h1{
    background-color: purple;
    color: white;
    text-align: center;
    font-style: italic;

}
h2{
    background-color: black;
    color: green;
    text-align: left;
}
h3{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h4{
    
    color:skyblue;
    text-align: left;
    text-decoration:line-through;
}